.icons{
    opacity: 0.7;
    font-weight:lighter;
    font-style: normal;
  }
  .more{
    
    opacity: 0.7;
    font-weight:lighter;
    font-style: normal;
  }
  
  .icon{
    cursor: pointer;
    border: none;
    background: none;
    margin-top: 10px;
    margin-left: -5px;
    margin-right: 30px;
    
    // background-color: white;
  }