<div fxLayout="row" fxLayoutGap="2px" class="icons" *ngIf="!isTrashNotesComponent">
    <button mat-icon-button><img src="../../../assets/Remind me.png" alt="" width="20px" height="20px"></button>
    <button mat-icon-button><img src="../../../assets/Collaborator.png" alt="" width="20px" height="20px"></button>


    <button mat-icon-button [matMenuTriggerFor]="colormenu"><img src="../../../assets/Background options.png" alt=""width="20px" height="20px" ></button>
    <mat-menu #colormenu="matMenu">
        <div class="wrapcolor" fxLayoutGap="7px grid">
            <button class="btn" *ngFor="let color of colors" mat-mini-fab [style.background-color]="color"
                (click)="changeColor(color)">
            </button>
        </div>
    </mat-menu>

    <button mat-icon-button><img src="../../../assets/AddImage.png" alt="" width="20px" height="20px"></button>
    <div *ngIf="!isArchiveNotesComponent">
        <button mat-icon-button (click)="archieve()"><img src="../../../assets/Archieve.png" alt="" width="20px"
                height="20px"></button>
    </div>
    <div *ngIf="isArchiveNotesComponent">
        <button mat-icon-button (click)="unarchieve()"><img src="../../../assets/outline_unarchive_black_24dp.png"
                alt="" width="20px" height="20px"></button>


    </div>
    <div [matMenuTriggerFor]="menu">
        <button mat-icon-button><img src="../../../assets/more.png" alt="" width="20px" height="20px"></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="delete()">Delete Note</button>
            <button mat-menu-item>Add Label</button>
            <button mat-menu-item>Add Drawing</button>
            <button mat-menu-item>Make A copy</button>

            <button mat-menu-item>Show tick boxes</button>
        </mat-menu>

    </div>


</div>


<div fxLayout="row" class="width" fxLayoutGap="5px" fxLayoutAlign="start start" *ngIf="isTrashNotesComponent">
    <div>
        <button mat-icon-button><img src="../../../assets/outline_delete_forever_black_24dp.png" alt="" width="20px"
                height="20px" (click)="deleteforevernote()"></button>
    </div>
    <div>
        <button mat-icon-button><img src="../../../assets/outline_restore_from_trash_black_24dp.png" alt="" width="20px"
                height="20px" (click)="restorenote()"></button>
    </div>
</div>