<!-- 
<div fxLayout="row" fxLayoutAlign="start none">
<div>
    <button type="button" class="icons" mat-button>
        <img class="images" src="../../../assets/Remind me.png" width="15px" height="15px" />
    </button>
</div>
<div>
    <button type="button" class="icons" mat-button>
        <img class="images" src="../../../assets/Collaborator.png" width="15px" height="15px" />
    </button>
</div>
<div>
    <button type="button" class="icons" mat-button>
        <img class="images" src="../../../assets/Background options.png" width="15px" height="15px" />
    </button>
</div>
<div>
    <button type="button" class="icons" mat-button>
        <img class="images" src="../../../assets/AddImage.png" width="15px" height="15px" />
    </button>
</div>
<div>
    <button type="button" class="icons" mat-button>
        <img class="images" src="../../../assets/Archieve.png" width="15px" height="15px" />
    </button>
</div>
<div>
    <button type="button" class="icons" mat-button>
        <img class="images" src="../../../assets/more.png" width="15px" height="15px" />
    </button>
</div>
</div> -->
<div fxLayout="row" fxLayoutGap="16px" class="icons">
    <button mat-icon-button><img src="../../../assets/Remind me.png" alt=""></button>
    <button mat-icon-button><img src="../../../assets/Collaborator.png" alt=""></button>
    <button mat-icon-button><img src="../../../assets/Background options.png" alt=""></button>
    <button mat-icon-button><img src="../../../assets/AddImage.png" alt=""></button>
    <button mat-icon-button><img src="../../../assets/Archieve.png" alt=""></button>
    <button mat-icon-button><img src="../../../assets/more.png" alt=""></button>
    <!-- <button class="close" mat-flat-button>Close</button> -->
</div>
