
<div fxLayout="row" fxLayoutGap="2px" class="icons" >
    <button mat-icon-button><img src="../../../assets/Remind me.png" alt="" width="20px" height="20px"></button>
    <button mat-icon-button><img src="../../../assets/Collaborator.png" alt="" width="20px" height="20px"></button>
    <!-- <button mat-icon-button><img src="../../../assets/Background options.png" alt="" width="20px" height="20px"></button> -->
    <mat-icon>
        <button [matMenuTriggerFor]="colorMenu" class="icon" fxLayout="row">
        <img src="../../../assets/Background options.png" alt=""width="20px" height="20px" >
    </button>
    <mat-menu #colorMenu="matMenu">
        <button mat-menu-item>
            <button *ngFor="let noteColor of colors" mat-mini-fab [style.background]="noteColor?.bgColorValue"
                (click)="changeColor(noteColor?.bgColorValue)">


            </button>
            
        </button>
    </mat-menu>
</mat-icon>

    <button mat-icon-button><img src="../../../assets/AddImage.png" alt="" width="20px" height="20px"></button>
   <div >
    <button mat-icon-button (click)="archieve()"><img src="../../../assets/Archieve.png" alt="" width="20px" height="20px"></button>


   </div>
    <div  [matMenuTriggerFor]="menu">
        <button mat-icon-button><img src="../../../assets/more.png" alt="" width="20px" height="20px"></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="delete()">Delete Note</button>
            <button mat-menu-item>Add Label</button>
            <button mat-menu-item>Add Drawing</button>
            <button mat-menu-item>Make A copy</button>
    
            <button mat-menu-item>Show tick boxes</button>
          </mat-menu>

</div>

    
    <!-- <button class="close" mat-flat-button>Close</button> -->
</div>
