<!-- <div fxLayout="row" fxLayoutAlign="center none">
    <div fxLayout="column" fxLayoutAlign=" stretch" style="margin-top: 100px;">
        <mat-accordion class="card">
            <mat-expansion-panel hideToggle class="note2">
              <mat-expansion-panel-header class="note">
                  <div>
                    <input type="notes" class="text2" placeholder="Title">   
                  </div>
                            
              </mat-expansion-panel-header>
            <textarea matInput class="text1"  placeholder="Take a note..."
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="40"></textarea> 
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div>
                <app-icons></app-icons>
            </div>
            <div>
                <a class="link"mat-button>Close</a> 
            </div>
            
        </div>
            </mat-expansion-panel>
          </mat-accordion>      
        </div>   
</div> -->

<!-- <div class="card"    fxLayoutAlign="center center">
    <div *ngIf="!isExpand" (click)="main()"></div>
    
    <mat-card class="main" fxLayout="column" fxFlex="100">
        <div>
            <input class="title" matInput type="text" placeholder="Title"  [(ngModel)]="title" > 
        </div>
        <div>
            <input class="Takenote" matInput type="text" placeholder="Take a note..." [(ngModel)]="description" >
        </div>
        <div fxLayout="row" >

            
            <app-icons></app-icons>
            
            <button class="close" mat-flat-button (click)="add()">close</button>
        </div>

    </mat-card>
</div> -->



<div class="container" fxLayoutAlign="center center" >
     <div *ngIf="!isWrite" (click)="method()">
     <mat-card class="main" fxlayout="column">
    
    
     <input class="content" matInput type="text" placeholder="Take a note..">
     </mat-card>
     </div>
     <div *ngIf="isWrite" >
     <mat-card fxLayout="column" fxFlex="125">
     <div>
    <input class="title" matInput type="text" placeholder="Title" [(ngModel)]="title">
    </div>
     <div>
     <textarea
      class="head1" placeholder="Take a note..." [(ngModel)]="description">
    </textarea>
 </div>
     <div fxLayout="row">
     <app-icons ></app-icons>
    <button class="close" mat-flat-button (click)="isWrite=!isWrite" (click)="add()">Close</button>
 </div>
</mat-card>
    </div>
    </div>