<div class="container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar">
 <button mat-icon-button class="menu" (click)="isExpanded=!isExpanded"><img src="../../../assets/menu.png"  width="30px" height="30px"></button>
 <div fxLayout="row"  fxLayoutGap="10px" fxLayoutAlign="column" fxHide.xs="true" fxFlex.sm="true" fxHide.md="true" >
   <img class="keep" src="../../../assets/keeps.png" alt="">
  </div>
 
   <!-- <p class="heading">Fundoo</p> -->
   <div>
     <h1 class="header" >
     <span style='color:blue;'>F</span>
     <span style='color:red;'>u</span>
     <span style='color:yellow'>n</span>
     <span style='color:blue;'>d</span>
     <span style='color:green;'>o</span>
     <span style='color:red;'>o</span>
     </h1>        
 </div>
 

 <div class="searchBar"  fxFlex=40 fxLayout="row" fxLayoutAlign="start center"  >
  <button mat-icon-button>
      <mat-icon>search</mat-icon>
  </button>
  <div >
      <input class="input" type="text" placeholder="Search" style="background-color: transparent" (keyup)="search($event)">
  </div>
</div>
 <div class="headericons" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">
   <div>
     <button mat-icon-button aria-label="refresh"><img src="../../../assets/outline_refresh_black_24dp.png" width="25px" height="25px"></button>
   </div>
   <div>
     <button mat-icon-button><img src="../../../assets/outline_view_stream_black_24dp.png" width="25px" height="25px"></button>
   </div>
   <div>
     <button mat-icon-button><img src="../../../assets/outline_settings_black_24dp.png" width="25px" height="25px"></button>
   </div>
   <div>
     <button mat-icon-button><img src="../../../assets/google apps.png"  width="20px" height="20px"></button>
   </div>
   <div>
     <button mat-icon-button [matMenuTriggerFor]="menu"><img src="../../../assets/profileimage.png" width="20px" height="20px"></button>
     <mat-menu #menu="matMenu">
       <button mat-menu-item (click)="logout()">Logout</button>
     </mat-menu>
   </div>
 </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
   <mat-sidenav #snav  [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" opened="true">
         <mat-nav-list (mouseover)="isExpanded=true" (mouseleave)="isExpanded=false" >            
           <mat-list-item class="icons"><div><button mat-icon-button class="btns" (click)="notes()"  ><img src="../../../assets/outline_lightbulb_black_24dp.png"  width="25px" height="25px"></button></div><p class="names" *ngIf="isExpanded">Notes</p> </mat-list-item>             
           <mat-list-item class="icons"><button mat-icon-button class="btns"><img src="../../../assets/outline_notifications_black_24dp.png" width="25px" height="25px"></button><p class="names" *ngIf="isExpanded">Reminders</p> </mat-list-item>        
           <mat-list-item class="icons"><button mat-icon-button class="btns"><img src="../../../assets/outline_edit_black_24dp.png" width="25px" height="25px"></button><p class="names" *ngIf="isExpanded">Edit labels</p> </mat-list-item>               
           <mat-list-item class="icons"><button mat-icon-button class="btns" (click)="arch()"><img src="../../../assets/outline_archive_black_24dp.png" width="25px" height="25px" ></button><p class="names" *ngIf="isExpanded">Archive</p> </mat-list-item>                  
           <mat-list-item class="icons"><button mat-icon-button class="btns" (click)="trash()"><img src="../../../assets/outline_delete_black_24dp.png" width="25px" height="25px" ></button><p class="names" *ngIf="isExpanded">Trash</p> </mat-list-item>  
         </mat-nav-list>
   </mat-sidenav>
   <mat-sidenav-content class="content">
     <router-outlet></router-outlet>
   </mat-sidenav-content>
</mat-sidenav-container>
</div> 