

.style{
    padding-top: 80px;
    padding-left: 100px;
}
.matcard{
    border-color: lightgray;
    border-radius: 2%;
    border-width: 1px;
    border-style:solid;
}
.icons{
    visibility: hidden;
}
.matcard:hover .icons{
    visibility: visible;
}
.matcard:hover{
    box-shadow:black 1px 6px 9px;
}