<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="25">
    <div>
      <h1 class="header">
        <span style='color:blue;'>F</span>
        <span style='color:red;'>u</span>
        <span style='color:green'>n</span>
        <span style='color:blue;'>d</span>
        <span style='color:yellow;'>o</span>
        <span style='color:red;'>o</span>
      </h1>
      <p class="h1">Sign In</p>
    </div>
    <div class="h2">
      <p>to continue to Fundoo</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
      <form1 fxLayoutAlign="stretch" fxLayout="column">


        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName='Email' placeholder="Email">
          <mat-error>
            Enter a valid email
          </mat-error>

        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <!-- <input matInput formControlName='Password' placeholder="Password"> -->
          <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="Password">

          <mat-error>
            Enter a valid password
          </mat-error>
        </mat-form-field>
        <div class="forget">

          <button routerLink='/forget'  mat-button color="primary">Forget password?</button>
        </div>
        <div>
          <mat-checkbox matSuffix (click)="checkboxPassword()">Show Password</mat-checkbox>
        </div>
        
        
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between end">
          <div > 
             <mat-card-actions align="start">
            <mat-card-actions align="start">
            </mat-card-actions>
            </mat-card-actions>
            <!-- <a class="link" routerLink='/signup' mat-button href="" target="_blank">Create Account</a> -->
            <button routerLink='/signup' mat-button color="primary">Create account</button>
          </div>

          <div   >
              <mat-card-actions align="end"> 
            <mat-card-actions align="end">
            </mat-card-actions>
            </mat-card-actions>
            <button mat-raised-button color="primary">log in</button>

          </div>
        </div>
      </form1>
    </form>
  </mat-card>
</div>